body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    width: 360px;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    border: solid 1px #c4c3c3;
    border-bottom: 5px solid #337deb;
    margin-top: 30px;
}
.content{
    border-radius: 3px;
    background-color: rgb(241, 254, 243);
    border: solid 1px #e9fcf0;
    text-align: center;
    width: 50px;
    height: 10px;
    color: #1e7433;
    font-size: 6px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.gambar{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 50px;
    height: auto;
}
.subtitle{
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}
.atas{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
p{
    color: #444;
    font-size: 10px;
    line-height: 0%;
}
.element{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.elemen{
    border: dashed 1px #b7b5b5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 50px;
    align-items: flex-start;
    padding-top: 5px;
    font-size: 10px;
    margin: 5px;
    padding-inline: 5px;
    padding-right: 1px;
}